* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 224, 224);
}
.password_generator {
  width: 23.125rem;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #ffff;
}

.generator_title,
.generator_password {
  text-align: center;
  margin-bottom: 20px;
}

.genetator_checkbox {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.generator_length {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 15px;
  background-color: rgb(212, 216, 216);
  border-radius: 8px;
}
.generator_length_counter button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  margin: 5px 0.1px;
  background-color: rgb(5, 11, 39);
  color: #ffff;
  border: 1px solid rgb(5, 11, 39);
  border-radius: 5px;
  transition: all 200ms linear;
  cursor: pointer;
  text-align: center;
}
.generator_length_counter button:hover {
  color: rgb(5, 11, 39);
  background-color: #e7dfdf;
  border: 1px solid rgb(5, 11, 39);
}
.generator_length_counter span {
  display: inline-block;
  font-size: 18px;
  width: 35px;
  text-align: center;
}
.generator_form_action {
  display: flex;
  justify-content: space-around;
}
.generator_form_action button {
  padding: 8px 16px;
  color: rgb(5, 11, 39);
  border: none;
  border-radius: 5px;
  transition: all 200ms linear;
  cursor: pointer;
}

.generator_form_action .generate-btn{
  background: linear-gradient(to right, #a0c0ff, #b2abff);
}
.generator_form_action .copy-btn{
  background: linear-gradient(to right, #62f498, #77f4eb);
}